/* Default styles */
.cover {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.title {
  font-size: 50px;
  color: white;
  font-weight: bold;
  font-family: Futura;
}

.red {
  color: red;
}

.top {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.main-title {
  font-size: 24px;
  color: white;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

.classic {
  color: gold;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: white;
}

.bottom div {
  margin: 5px 0;
}

.circle {
  position: absolute;
  width: 100px;
  /* Increase the size of the circle */
  height: 100px;
  /* Increase the size of the circle */
  background: white;
  border-radius: 50%;
  right: 8px;
  bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.circle-text {
  font-size: 14px;
  color: purple;
  /* Purple color for the text */
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

/* Temporary colors - ignore this */
.cover {
  background: rgb(35, 35, 90);
}

.top,
.bottom {
  border: 2px solid red;
}

.bottom {
  color: white;
}

.bottom div {
  border: 3px solid red;
}

/* Mobile - smaller screens */
@media only screen and (max-width: 768px) {
  main::before {
    content: "Mobile";
    background-color: #c8787888;
  }

  .cover {
    width: 90%;
    padding: 20px;
  }
}

/* Laptop - medium screens */
@media only screen and (min-width: 768px) and (max-width: 1399px) {
  main::before {
    content: "Laptop";
    background-color: #45454588;
  }

  .cover {
    width: 60%;
  }
}

/* Widescreen - larger screens */
@media only screen and (min-width: 1400px) {
  main::before {
    content: "Wide";
    background-color: #00438888;
  }

  .cover {
    width: 350px;
  }
}

/* Ensures elements stack correctly for mobile or small screens */
@media (max-width: 600px) {
  .requirements {
    font-size: 0.9em;
  }
}