.cover {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  background-image: url("Clue.png");
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 50px;
  color: white;
  font-weight: bold;
  font-family: Futura;
}

.red {
  color: red;
}

.top {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: white;
  position: relative;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bottom-left div {
  margin-bottom: 5px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 5px 0;
}

.main-title-box {
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  margin-left: 10px;
}

.main-title {
  font-size: 18px;
  color: white;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

.classic {
  color: gold;
}

/* Blue Cyan Gradient for Hasbro Gaming */
.hasbro-box {
  background: linear-gradient(135deg, #00B8D9, #0076A3);
  /* Cyan blue gradient */
  padding: 10px 20px;
  border-radius: 50px;
  /* Oval shape */
  border: 2px solid white;
  /* White outline */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hasbro-box div {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  right: 8px;
  bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.circle-text {
  font-size: 14px;
  color: purple;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

/* Adjusting the image position */
.game-image {
  margin-top: 60px;
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

/* Mobile - smaller screens */
@media only screen and (max-width: 768px) {
  main::before {
    content: "Mobile";
    background-color: #c8787888;
  }

  .cover {
    width: 90%;
    padding: 20px;
  }
}

/* Laptop - medium screens */
@media only screen and (min-width: 768px) and (max-width: 1399px) {
  main::before {
    content: "Laptop";
    background-color: #45454588;
  }

  .cover {
    width: 60%;
  }
}

/* Widescreen - larger screens */
@media only screen and (min-width: 1400px) {
  main::before {
    content: "Wide";
    background-color: #00438888;
  }

  .cover {
    width: 350px;
  }
}

/* Ensures elements stack correctly for mobile or small screens */
@media (max-width: 600px) {
  .requirements {
    font-size: 0.9em;
  }
}